*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(4, 150, 45),rgb(161, 161, 3), rgb(4, 175, 146));
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 1rem;
    background-color: rgb(101, 195, 224);
    box-shadow: 0 0 10px 10px #0e0707;
    border-radius: 1rem;
    height: 40%;
    width: 40%;
}

main textarea{
    height: 100%;
    width: 100%;
    padding: 0.3rem;
}
h1{
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(230, 229, 229);
}
@media  screen and (max-width: 426px) {
    main{
    height: 50%;
    width: 60%;
    }
    
}